.portfolio--container {
  overflow: auto;
  text-align: center;
  /*background-color: rgb(216, 58, 0);*/
  background-image: linear-gradient(
    to right top,
    rgb(85, 33, 255),
    rgb(85, 33, 255),
    rgb(216, 58, 0)
  );
  color: white;
  padding-top: 13vh;
}

.servicios__title {
  margin: 2.5em;
}

.portfolio--container__results {
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .portfolio--container__results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

.portfolio--work__title {
  color: white;
}

.portfolio--work {
  width: 80%;
  margin: 0 auto;
  background: orangered;
  margin-bottom: 10%;
  text-align: center;
  box-shadow: 5px 5px 5px 3px rgb(0 0 0 / 25%);
}

.potfolio--work__img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.portfolio--work__content {
  padding: 12px;
}
